@model IEnumerable<ORM_EFcore.Models.Student>

@{
    ViewData["Title"] = "Home Page";
}

<h1>So tu controller la </h1>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var student in @Model)
        {
            <tr>
                <td>@student.Name</td>
                <td>
                    <a asp-controller="Home" asp-action="Details" asp-route-StudentId="@student.StudentId" type="button" class="btn btn-primary">
                        Button Of @student.Name
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

