@model IEnumerable<ORM_EFcore.Models.Student>

@{
    ViewData["Title"] = "Home Page";
}

<h1>So tu controller la </h1>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>HomeTown</th>
            <th>StudentFee</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var student in @Model)
        {
            <tr>
                <td>@student.Name</td>
                <td>@student.Age</td>
                <td>@student.HomeTown</td>
                <td>@student.StudentFee</td>
            </tr>
        }
    </tbody>
</table>

