@model IEnumerable<ORM_EFcore.Models.Student>

@{
    ViewData["Title"] = "Home Page";
}

<h1>So tu controller la </h1>

<ul>
    @foreach (var student in @Model)
    {
        <li>@student.Name</li>
    }
</ul>

