@using ORM_EFcore;

@{
    ViewData["Title"] = "Privacy Policy";
    
    
}
<h1>@ViewData["Title"]</h1>

@functions
{
    string name;
    int age;

    String Wellcome()
    {
        return $"Xin chao {name}, ban {age}";
    }
}

@{
    List<string> products = new List<string>()
    {
        "Iphone",
        "Laptop",
        "CPU"
    };
    
    <h2>Danh sach san pham @Constant.Helloworld @Wellcome()</h2>
    <ul>
        @foreach (var product in products)
        {
            <li>San Pham @product</li>
        }
    </ul>
}

@{
    var age = 13;
}

@if (age >= 15)
{
    <h1>Ban da du tuoi</h1>
}
else
{
    <h1>Ban chua du tuoi</h1>
}

